/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #E8AC17;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    text-shadow: none; /* Prevent inheritance from `body` */
    border: 0;
    width: 100%;
    background-color: #E8AC17;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

button.btn-default:focus {
    text-shadow: none; /* Prevent inheritance from `body` */
    border: 0;
    width: 100%;
    background-color: #E8AC17;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

/* heading styles */
h4, h5 {
    color: #E8AC17;
    font-weight: 600;
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #000000;
}

body {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400
}

label {
    font-weight: normal;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    background-color: #000000;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

/*
 * Cover
 */
.cover {
    padding: 25px 60px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: 700;
}

.col-md-12 {
    padding: 0;
    text-align: center;
}

.social-buttons .btn-default,
.social-buttons .btn-default:hover,
.social-buttons .btn-default:focus {
    border: 1px solid rgb(216, 221, 230);
    background-color: rgb(255, 255, 255);
    color: #E8AC17;
    border-radius: 4px;
    cursor: pointer;
}

.social-buttons > .col-md-6:first-child {
    padding-left: 0;
    padding-right: 5px;
}

.social-buttons > .col-md-6:last-child {
    padding-right: 0;
    padding-left: 5px;
}

.alert {
    padding-left: 47px;
    padding-right: 14px;
    position: relative;
    word-wrap: break-word;
}

.alert-error {
    color: #007d9c;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.forgotpasswordspan {
    font-size: 12px;
}

.signupclass {
    text-align: center;
    margin-top: 10px;
}

div.kc-logo-text {
    height: 63px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: block;
}

.kcFormOptionsClass {
    margin-bottom: 15px;
}

/*
 * Footer
 */
.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/*
* Media screens for responsive design
*/
@media (min-width: 768px) {
    .site-wrapper-inner {
        vertical-align: middle; /* Start the vertical centering */
    }

    .cover-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .cover-container {
        width: 400px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .social-buttons > .col-md-6:first-child {
        padding: 0;
    }

    .social-buttons > .col-md-6:last-child {
        padding: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .cover-container {
        width: 100%;
    }

    .cover {
        padding: 15px;
    }

    .social-buttons > .col-md-6:first-child {
        padding: 0;
    }

    .social-buttons > .col-md-6:last-child {
        padding: 0;
    }
}
